body {
    width: 960px;
    margin: 0 auto;
    background-image: url(2_cols.gif);
    background-repeat: repeat-y; }

#principal {
    float: left;
    width: 60%;
    margin: 0 5px; }

#extras {
    float: left;
    width: 25%;
    margin: 0 5% 0 0; }

#pie { clear: left; }